.counter {
  height: fit-content;
  width: fit-content;
  margin: 10%;
  border: 2px solid blue;
  background-color: lightblue;
}

button, .counterValue {
    display: block;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
}
  
button {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
}
  
  