/* *{
    box-sizing: border-box;
} */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#demo1 {
    width: 200px;

    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
    border: 5px solid red;

    padding: 12px;
    margin-bottom: 10px; 
}

#demo2 {
    width: 200px;

    /* border-width: 5px;
    border-style: solid;
    border-color: red; */
    border: 5px solid rgb(30, 255, 0);

    padding: 12px;
    box-sizing: content-box;
}

#demo3 {
    border: 2px solid blue;
    width: 150px;
}