html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1 {
    color: purple;
}

#ping-pong-table {
    width: 700px;
    height: 400px;
    border: 2px solid black;
    position: relative;
}

#paddle {
    background-color: blue;
    width: 15px;
    height: 75px;
    margin-left: 0.4px;
    position: absolute;
}

#ball {
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}